<%- include( 'partials/_headerAdmin')%>


    <div class="container my-4 d-flex justify-content-center">
        <div class="container">


            <div class="row my-5">
                <div class="col">


                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Agregar alimento</button>
                </div>
            </div>
            <div class="row mt-5 mb-2">
                <h2>Lista de alimentos:</h2>
            </div>
            <div class="row my-2">
                <div class="col">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col">Cantidad disponible</th>
                                <th scope="col">Tipo de alimento</th>
                                <th scope="col">Precio</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% alimentos.forEach (function (alimento) { %>
                                <tr>
                                    <!-- <th scope="row">pelicula.</th> -->
                                    <td><%=alimento.nombre%></td>
                                    <td><%=alimento.cantidadDisponible%></td>
                                    <td><%=alimento.precio%></td>
                                    <td><%=alimento.tipo%></td>
                                    <td>
                                        <form action="modificarAlimento/<%=alimento.idAlimento%>" method="post">
                                            <button type="submit" class="btn btn-success">Modificar </button>
                                        </form>
                                        <form action="eliminarAlimento/<%=alimento.idAlimento%>" method="post">
                                            <button type="submit" class="btn btn-danger">Eliminar </button>
                                        </form>
                                    </td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Agregar alimento</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="registroAlimento" method="post">
                            <div class="mb-3">
                                <label for="nom" class="form-label">Nombre</label>
                                <input type="text" name="nombre" class="form-control" id="nom">
                            </div>
                            <div class="mb-3">
                                <label for="cant" class="form-label">Cantidad disponible</label>
                                <input type="number" name="cantidad" class="form-control" id="cant">
                            </div>

                            <!-- Tipo Combobox -->
                            <label for="tip" class="form-label">Tipo de alimento</label>
                            <select name="tipo" id="tip" class="form-select mb-3" aria-label="Default select example">
                                <% tiposAlimento.forEach (function (tipoAlimento) { %>
                                    <option value="<%=tipoAlimento.idTipoAlimento%>"><%= tipoAlimento.tipo %></option>
                                <% }) %>
                              </select>

                            <div class="mb-3">
                                <label for="prec" class="form-label">Precio</label>
                                <input type="number" name="precio" class="form-control" id="prec">
                            </div>


                            <button type="submit" class="btn btn-primary">Agregar alimento</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal-->


    </div>

    <%- include( 'partials/_footerAdmin')%>