<%- include( 'partials/_headerAdmin')%>


    <div class="container my-4 d-flex justify-content-center">
        <div class="container">

            <div class="row mt-5 mb-2">
                <h2>Lista de clientes:</h2>
            </div>
            <div class="row my-2">
                <div class="col">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Cédula</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Primer apellido</th>
                                <th scope="col">Segundo apellido</th>
                                <th scope="col">Correo electrónico</th>
                                <th scope="col">Edad</th>
                                <th scope="col">Fecha de nacimiento</th>
                                <th scope="col">Vacunas</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% clientes.forEach (function (cliente) { %>
                                <tr>
                                    <th scope="row"><%=cliente.numeroCedula%></th>
                                    <td><%=cliente.nombre%></td>
                                    <td><%=cliente.apellido1%></td>
                                    <td><%=cliente.apellido2%></td>
                                    <td><%=cliente.correoElectronico%></td>
                                    <td><%=cliente.edad%></td>
                                    <td><%=cliente.fechaNac%></td>
                                    <td><%=cliente.cantidadVacunas%></td>
                                    <td>
                                        <form action="modificarCliente/<%=cliente.idCliente%>" method="post">
                                            <button type="submit" class="btn btn-success">Modificar </button>
                                        </form>
                                        <form action="eliminarCliente/<%=cliente.idCliente%>" method="post">
                                            <button type="submit" class="btn btn-danger">Eliminar </button>
                                        </form>
                                    </td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <%- include( 'partials/_footerAdmin')%>