<%- include( 'partials/_headerAdmin')%>


    <div class="container my-4 d-flex justify-content-center">
        <div class="container">


            <div class="row my-5">
                <div class="col">


                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Agregar película</button>
                </div>
            </div>

            <div class="row mt-5 mb-2">
                <h2>Lista de películas:</h2>
            </div>
            <div class="row my-2">
                <div class="col">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Título</th>
                                <th scope="col">Año de publicación</th>
                                <th scope="col">Duración</th>
                                <th scope="col">Edad requerida</th>
                                <th scope="col">Precio de entradas</th>
                            </tr>
                        </thead>
                        <tbody>

                            <% peliculas.forEach (function (pelicula) { %>
                                <tr>
                                    <!-- <th scope="row">pelicula.</th> -->
                                    <td><%=pelicula.titulo%></td>
                                    <td><%=pelicula.annoPublicacion%></td>
                                    <td><%=pelicula.duracion%></td>
                                    <td><%=pelicula.edadRequerida%></td>
                                    <td><%=pelicula.precioEntrada%></td>
                                    <td>
                                        <!-- <button type="button" class="btn btn-success" href="/admin/modificarPelicula/<%=pelicula.idPelicula%>">Modificar </button>
                                        <button type="button" class="btn btn-danger" href="/admin/eliminarPelicula/<%=pelicula.idPelicula%>">Eliminar </button> -->
                                        <form action="modificarPelicula/<%=pelicula.idPelicula%>" method="post">
                                            <button type="submit" class="btn btn-success">Modificar </button>
                                        </form>
                                        <form action="eliminarPelicula/<%=pelicula.idPelicula%>" method="post">
                                            <button type="submit" class="btn btn-danger">Eliminar </button>
                                        </form>
                                    </td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Agregar película</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="registroPelicula" method="post">
                            <div class="mb-3">
                                <label for="idTitulo" class="form-label">Título</label>
                                <input type="text" name="titulo" class="form-control" id="idTitulo">
                            </div>
                            <label class="mb-3" for="director">Director</label>
                            <div class="mb-3">
                                <select name="director" class="form-select" aria-label="Directores">
                                    <% directores.forEach (function (director) { %>
                                        <option value="<%=director.idDirector%>"><%= director.nombre %></option>
                                    <% }) %>
                                </select>
                            </div>
                            <label class="mb-3" for="actor">Actor</label>
                            <div class="mb-3">
                                <select name="actor" class="form-select" aria-label="Actores">
                                    <% actores.forEach (function (actor) { %>
                                        <option value="<%=actor.idActor%>"><%= actor.nombre %></option>
                                    <% }) %>
                                </select>
                            </div>
                            <label class="mb-3" for="genero">Genero</label>
                            <div class="mb-3">
                                <select name="genero" class="form-select" aria-label="Generos">
                                    <% generos.forEach (function (genero) { %>
                                        <option value="<%=genero.idGenero%>"><%= genero.nombreGenero %></option>
                                    <% }) %>
                                </select>
                            </div>
                            <label class="mb-3" for="idioma">Idioma</label>
                            <div class="mb-3">
                                <select name="idioma" class="form-select" aria-label="Idiomas">
                                    <% idiomas.forEach (function (idioma) { %>
                                        <option value="<%=idioma.idIdioma%>"><%= idioma.nombreIdioma %></option>
                                    <% }) %>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="pub" class="form-label">Año de publicación</label>
                                <input type="text" name="annoPublicacion" class="form-control" id="pub">
                            </div>
                            <div class="mb-3">
                                <label for="dur" class="form-label ">Duración</label>
                                <input type="text" name="duracion" class="form-control" id="dur">
                            </div>
                            <div class="mb-3">
                                <label for="edr" class="form-label ">Edad requerida</label>
                                <input type="text" name="edadRequerida" class="form-control" id="edr">
                            </div>
                            <div class="mb-3">
                                <label for="precioentrada" class="form-label ">Precio de entrada</label>
                                <input type="text" name="precioEntrada" class="form-control" id="precioentrada">
                            </div>
                            <button type="submit" class="btn btn-primary">Agregar película</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal-->

    </div>

    <%- include( 'partials/_footerAdmin')%>